{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Books</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    {% include "message.html" %}
    <div id="container">
        {% include "navbar.html" %}
        <section id="content">
            <div><p id="heading">Books</p></div>
            <a href="{% url 'add-book' %}"><button class="btn">Add Book</button></a>
            <table>
                <thead>
                    <tr>
                        <th>Book Id</th>
                        <th>Title</th>
                        <th>Authors</th>
                        <th>ISBN</th>
                        <th>Publisher</th>
                        <th>Num pages</th>
                        <th>Available</th>
                        <th>Actions</th>
                    </tr> 
                </thead>
                <tbody>
                    {% for book in books %}
                        <tr>
                            <td>{{ book.id }}</td>
                            <td>{{ book.title }}</td>
                            <td>{{ book.authors }}</td>
                            <td>{{ book.isbn }}</td>
                            <td>{{ book.publisher }}</td>
                            <td>{{ book.num_pages }}</td>
                            {% if book.available %}
                                <td>Yes</td>
                            {% else %}
                                <td>No</td>
                            {% endif %}
                            <td>
                                <a href="{% url 'edit-book' book.id %}">Edit</a>
                                <a href="{% url 'delete-book' book.id %}">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </div>
</body>
</html>