<header>
    <p>Library Management System</p>
</header>
<div id="navbar">
    <ul id="nav-items">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'import-books' %}">Import Books</a></li>
        <li><a href="{% url 'all-books' %}">Show Books</a></li>
        <li><a href="{% url 'search-book' %}">Search Book</a></li>
        <li><a href="{% url 'issue-book' %}">Issue Book</a></li>
        <li><a href="{% url 'return-book' %}">Return Book</a></li>
        <li><a href="{% url 'all-members' %}">Show Members</a></li>
        <li><a href="{% url 'all-transactions' %}">Show Transactions</a></li>
    </ul>
</div>